#!/usr/bin/env xdg-open
[Desktop Entry]
Name=EH File Manager
Name[en_US]=EH File Manager
GenericName=EH File Manager
Exec=ehfilemanager
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;

